*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

.container{
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #00305a;
}

.navbar img{
    min-height: 50px;
    margin-left: 20px;
    filter: invert(100%) sepia(7%) saturate(7437%) hue-rotate(181deg) brightness(121%) contrast(100%);
    
    
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #00305a;
}

nav a{
    text-decoration: none;
    font-weight: 700;
    padding:10px;
    width: 100px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    margin-right: 20px;
    color: #cacaca;
}

nav a:hover{
    background-color: #004079;
    color: white;
}


.main{
    display: flex;
    flex-direction: column;
    min-height: 300vh;
    background-color: rgb(255, 163, 240);
}

/* first */
.profileDiv{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.first{
    background-image: url('images/background1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 50px;
    flex-grow: 2;
}

.name{
    font-size: 2.4rem;
    color: white;
    margin-bottom: 5px;
}

.first span{
   color: white;
   
}


.profilePic{
    background-image: url('images/profile.png');
    min-width: 300px;
    min-height: 300px;
    background-position: center;
    background-size: 400px;
    border-radius: 50%;
}

.nameDiscription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 20px;
}

/* second */

.second{
    background: rgb(2,0,36);
background: linear-gradient(16deg, rgba(2,0,36,1) 0%, rgba(0,0,154,1) 100%);
    padding: 10px 50px;
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.skillGrid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.skillGrid div{
    padding: 50px;
    background-color: aliceblue;
    border: 2px red solid;
}


.second h2{
    margin: 20px auto 10px auto;
    color: white;
}

.second span{
   color: white;
}


/* third */
.third{
    background: rgb(2,0,36);
    background: linear-gradient(165deg, rgba(2,0,36,1) 0%, rgba(124,0,121,1) 100%);
    padding: 10px 50px;
    flex-grow: 1;
}

.third h2{
    margin: 20px auto 10px auto;
    color: white;
}

.third span{
   color: white;
}

/* fourth */

.fourth{
    background-color: rgb(255, 0, 149);
    padding: 10px 50px;
    flex-grow: 1;
}

.fourth h2{
    margin: 20px auto 10px auto;
    color: white;
}

.fourth span{
   color: white;
}
